<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_element::header('企业上下游关系信息表')"></head>
<style>
html,body
{
    margin: 0;
    height: 100%;
}
</style>
<body>
  <dev id="zsvm"  style="height:100%;">
<el-form :model="bReleInfo" size=" small"  status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"  style="overflow-y:auto;height:95%;
padding-right:5%" >
			 <el-form-item label="标题" prop="title">
			    <el-input v-model="bReleInfo.title"></el-input>
			  </el-form-item>
			 <el-form-item label="信息内容" prop="content">
			    <el-input v-model="bReleInfo.content"></el-input>
			  </el-form-item>
			 <el-form-item label="图片地址" prop="iconUrl">
			    <el-input v-model="bReleInfo.iconUrl"></el-input>
			  </el-form-item>
			 <el-form-item label="创建时间" prop="createTime">
			    <el-input v-model="bReleInfo.createTime"></el-input>
			  </el-form-item>
			 <el-form-item label="更新时间" prop="updateTime">
			    <el-input v-model="bReleInfo.updateTime"></el-input>
			  </el-form-item>
</el-form>
</dev>	
	<div th:include="include/footer_element::footer"></div>
	<script th:src="@{/js/venue/releinfo/add.js}"></script>
</body>
</html>