<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_element::header('积分增减记录表')"></head>
<style>
html,body
{
    margin: 0;
    height: 100%;
}
</style>
<body>
  <dev id="zsvm"  style="height:100%;">
<el-form :model="bPointsRecord" size=" small"  status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"  style="overflow-y:auto;height:95%;
padding-right:5%" >
<br><br>
			 <!-- <el-form-item label="用户id" prop="uid">
			    <el-input v-model="bPointsRecord.uid"></el-input>
			  </el-form-item> -->
			 <el-form-item label="发放积分数" prop="points">
			    <el-input onkeyup="value=value.replace(/[^\d]/g,'')" style="width:8em" v-model="bPointsRecord.points"></el-input>
			  </el-form-item>
			
</el-form>
</dev>	
	<div th:include="include/footer_element::footer"></div>
	<script th:src="@{/js/venue/pointsrecord/add.js}"></script>
</body>
</html>