<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_element::header('招聘信息表')"></head>
<style>
html,body
{
    margin: 0;
    height: 100%;
}
</style>
<body>
  <dev id="zsvm"  style="height:100%;">
<el-form :model="bRecruitInfo" size=" small"  status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm"  style="overflow-y:auto;height:95%;
padding-right:5%" >
			 <el-form-item label="所属企业用户Id" prop="userId">
			    <el-input v-model="bRecruitInfo.userId"></el-input>
			  </el-form-item>
			 <el-form-item label="招聘人称呼" prop="hrName">
			    <el-input v-model="bRecruitInfo.hrName"></el-input>
			  </el-form-item>
			 <el-form-item label="招聘人联系方式" prop="phone">
			    <el-input v-model="bRecruitInfo.phone"></el-input>
			  </el-form-item>
			 <el-form-item label="岗位名称" prop="jobName">
			    <el-input v-model="bRecruitInfo.jobName"></el-input>
			  </el-form-item>
			 <el-form-item label="薪资待遇" prop="salary">
			    <el-input v-model="bRecruitInfo.salary"></el-input>
			  </el-form-item>
			 <el-form-item label="岗位描述描述" prop="remark">
			    <el-input v-model="bRecruitInfo.remark"></el-input>
			  </el-form-item>
			 <el-form-item label="招聘人数" prop="recruitNumber">
			    <el-input v-model="bRecruitInfo.recruitNumber"></el-input>
			  </el-form-item>
			 <el-form-item label="" prop="createTime">
			    <el-input v-model="bRecruitInfo.createTime"></el-input>
			  </el-form-item>
			 <el-form-item label="" prop="updateTime">
			    <el-input v-model="bRecruitInfo.updateTime"></el-input>
			  </el-form-item>
</el-form>
</dev>	
	<div th:include="include/footer_element::footer"></div>
	<script th:src="@{/js/venue/recruitInfo/edit.js}"></script>
</body>
</html>